body {
	background-color: lightgray;
}
h1 {
	font-size: 30px;

}

.game {
	background-color: #c77131;
	color: #fff;
	width: 250px;
	padding: 10px 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.instructions {
	background-color: #fae6ce;
	color: green;
	width: 400px;
	height: 300;
	font-weight: bold;
	padding: 20px 20px;
	margin-left: 10px;
	margin-bottom: 10px;

}

.numberToMatch {
	background-color: #60c782;
	width: 200px;
	height: 100px;
	padding: 5px 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
}

.winsAndLosses {
	background-color: #57fdfb;
	width: 75px;
	height: 100px;
	margin-left: 20px;
	padding: 5px 5px;
	float: left;
}

.crystals {
	clear: both;
	padding: 10px 10px;
	margin-bottom: 10px;
	width: 450px;
}

#blueCrystal {
	background: #fff;
	height: 75px;
	padding: 20px;
}

#redCrystal {
	background: #fff;
	height: 75px;
	padding: 20px;
}

#greenCrystal {
	background: #fff;
	height: 75px;
	padding: 20px;
}

.currentGameScore {
	background-color: #33a196;
	color: #ffffff;
	width: 450px;
	height: 100px;
	padding: 5px 5px;
	margin-left: 10px;
	margin-bottom:10px;
}